.item-container {
    position: relative;
}

.image-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 1;
    line-height: 1;
}

figure.content-image {
    padding-bottom: 100%;
    position: relative;
}

.content-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
